@using CPDPortalSpeaker.Models
@using CPDPortalSpeaker.Util
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pnl-portal">
    <div class="row">
        <div class="col-md-12">
            <h1 id="lblTitle"></h1>
            <!--div class="btn-back"><span class="glyphicon glyphicon-chevron-left"></span><span>Back</span></!--div-->
            <!-- <div class="lead1" style="color: #534d4d">CFPC &nbsp;&nbsp; FMOQ</div>-->
        </div>
    </div>

    <div class="row">

        @{

            Html.RenderPartial("_LeftNav", UserHelper.GetLoggedInUser());
        }
        <div class="col-md-9" style="margin-bottom: 2px; color: #2b2b2b">
            <div class="1">
                <h1>Program Description</h1>
                <!-- <div class="link-blue"><a class="link-blue" href="javascript:void(0)">Download Process Document</a></div>-->



                <div class="margin-top-24">
                    <h3>New Horizons in Dyslipidemia Management in Primary Care</h3>
                    <p></p><h3>
                        ABOUT:
                    </h3>
                    <ul>
                        <li>New Horizons in Dyslipidemia Management in Primary Care is an interactive and evidence-based program developed by leading Canadian experts to address the importance of strict management of low density lipoprotein cholesterol (LDL-C) for patients with atherosclerotic cardiovascular disease as well as provide a timely review of the results of recently completed clinical trials and their applicability to routine clinical practice. </li>
                    </ul>
                    <p></p><h3>
                        FORMAT:
                    </h3>
                    <ul>
                        <li>The New Horizons in Dyslipidemia Management in Primary Care program consists of a core didactic deck and 4 case-based modules.&nbsp; You may be asked to present the core deck ± one or more of the case-based modules.&nbsp; </li>
                        <li>You will be notified of the selected modules at the time of the invitation for the regional event</li>
                        <li>Each module includes interactive Q&amp;A.&nbsp; Please ensure that you allow plenty of time for group discussion and questions from the audience. </li>
                    </ul>
                    <p></p><h3>
                        PROGRAM MODULES:<br>
                        New Horizons in Dyslipidemia Management in Primary Care – Core Deck <p></p>
                    </h3>
                    <ul>
                        <li>1 Mainpro+ Credit (60 minutes)</li>
                        <li>Number of Slides: 56 (including intro slides) </li>
                        <li>
                            Content Synopsis:
                            <ul>
                                <li>Relationship between LDL-C and CV Event Rates</li>
                                <li>Care-Gap in Dyslipidemia Management </li>
                                <li>&nbsp;Why is Statin Treatment Not Enough?</li>
                                <li>CCS 2016 Dyslipidemia Guidelines</li>
                                <li>FOURIER &amp; ODYSSEY Outcomes Trials&nbsp; </li>
                            </ul>
                        </li>
                    </ul>
                </div>



                <div>
                    <h3>
                        Case 1: Diabetes &amp; Cardiovascular Disease
                    </h3>
                    <ul>
                        <li>0.5 Mainpro+ Credits (30 minutes)</li>
                        <li>
                            Number of Slides: 31<br>
                        </li>
                    </ul>

                    <div class="col-sm-12" style="padding-bottom:40px">
                        <table width="80%" cellspacing="0" cellpadding="10" border="0">
                            <tbody>
                                <tr>
                                    <td width="50%" align="center"><img src="/Images/5/case1-1.png" width="300" height="225"></td>
                                    <td width="50" align="center"><img src="/Images/5/case1-2.png" width="300" height="225"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


                <div style="padding-bottom:20px">
                    <h3>
                        <p>
                            Case 2: Diabetes &amp; Cardiovascular Disease
                        </p>
                    </h3>
                    <ul>
                        <li>0.5 Mainpro+ Credits (30 minutes)</li>
                        <li>
                            Number of Slides: 37<br>
                        </li>
                    </ul>

                    <div class="col-sm-12" style="padding-bottom:40px">
                        <table width="80%" cellspacing="0" cellpadding="10" border="0">
                            <tbody>
                                <tr>
                                    <td width="50%" align="center"><img src="/Images/5/case2-1.png" width="300" height="225"></td>
                                    <td width="50%" align="center"><img src="/Images/5/case2-2.png" width="300" height="225"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>



                <div>
                    <h3>
                        <p>
                            Case 3: ASCVD with Multiple CV Risk Factors
                        </p>
                    </h3>
                    <ul>
                        <li>0.5 Mainpro+ Credits (30 minutes)</li>
                        <li>
                            Number of Slides: 37<br>
                        </li>
                    </ul>

                    <div class="col-sm-12" style="padding-bottom:40px">
                        <table width="80%" cellspacing="0" cellpadding="10" border="0">
                            <tbody>
                                <tr>
                                    <td width="50%" align="center"><img src="/Images/5/case3-1.png" width="300" height="225"></td>
                                    <td width="50%" align="center"><img src="/Images/5/case3-2.png" width="300" height="225"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>



                <div>
                    <h3>
                        <p>
                            Case 4: Familial Hypercholesterolemia
                        </p>
                    </h3>
                    <ul>
                        <li>0.5 Mainpro+ Credits (30 minutes)</li>
                        <li>
                            Number of Slides: 26<br>
                        </li>
                    </ul>
                    <div class="col-sm-12" style="padding-bottom:40px">
                        <table width="80%" cellspacing="0" cellpadding="10" border="0">
                            <tbody>
                                <tr>
                                    <td width="50%" align="center"><img src="/Images/5/case4-1.png" width="300" height="225"></td>
                                    <td width="50%" align="center"><img src="/Images/5/case4-2.png" width="300" height="225"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>





            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
</div>
