@using CPDPortalSpeaker.Models
@using CPDPortalSpeaker.Util
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pnl-portal">
    <div class="row">
        <div class="col-md-12">
            <h1 id="lblTitle"></h1>
            <!--div class="btn-back"><span class="glyphicon glyphicon-chevron-left"></span><span>Back</span></!--div-->
            <!-- <div class="lead1" style="color: #534d4d">CFPC &nbsp;&nbsp; FMOQ</div>-->
        </div>
    </div>

    <div class="row">

        @{

            Html.RenderPartial("_LeftNav", UserHelper.GetLoggedInUser());
        }
        <div class="col-md-9" style="margin-bottom: 2px; color: #2b2b2b">
            <div class="1">
                <h1>Program Description</h1>
                <!-- <div class="link-blue"><a class="link-blue" href="javascript:void(0)">Download Process Document</a></div>-->



                <div class="margin-top-24">
                    <h3>Bad to the Bone: Medications Associated with Increased Fracture Risk</h3>
                    <p></p><h3>
                        ABOUT:
                    </h3>
                    <ul>
                        <li>This clinically relevant and      interactive (case-based) program was developed by leading Canadian experts      to address the importance of risk assessment, screening and management for      all patients at high-risk for fracture with a particular focus on      the use of medications that are associated with bone loss, osteoporosis,      and fragility fractures. This program aims to translate scientific and      clinical evidence into practical steps and incorporates expert      recommendations into practical strategies applicable to primary care      practice.</li>
                    </ul>
                    <p></p><h3>
                        FORMAT:
                    </h3>
                    <ul>
                        <li>This program consists of introductory slides and 5 case vignettes specific to medications associated with bone loss and increased fracture risk. </li>
                        <li>You may present all or some of the vignettes and additionally you can utilize the back-up slides for programs that are certified for 1.5 Mainpro+ credits.&nbsp;</li>
                    </ul>
                    <p></p><h3>CERTIFICATION:</h3>
                    <ul>
                        <li>This Group Learning activity      has been certified for up to 1.5 MAINPRO+ one-credit-per-hour credits by      the CFPC. &nbsp;</li>
                        <li><strong>As per the CFPC guidelines for      certified programs, speakers are required to use the presentation slides      provided by the physician organization and are not permitted to make any      changes to the program materials/slides.</strong></li>
                    </ul>
                    <p></p><h3><strong>PROGRAM OVERVIEW AND VIGNETTES:</strong></h3>
                    <ul>
                        <li>Total Number of Slides: 75 (including intro slides) and 10 back-up slides </li>
                        <li>Please ensure that you engage the audience in discussion and utilize the Q&amp;A slides included throughout the presentation</li>
                    </ul>
                </div>



                <div>
                    <h3>
                        Introductory Slides: 1-23
                    </h3>
                    <ul type="disc">
                        <ul type="circle">
                            <li>Content Synopsis:</li>
                            <ul type="square">
                                <li>Scientific Planning Committee        Overview</li>
                                <li>Disclosure Slides </li>
                                <li>Learning Objectives </li>
                                <li>Osteoporosis Statistics</li>
                                <li>Screening &amp; Risk Factor        Assessment</li>
                                <li>Guideline Recommendations</li>
                                <li>Treatment </li>
                            </ul>
                        </ul>
                    </ul>

                    <div class="col-sm-12" style="padding-bottom:40px">
                        <table width="80%" cellspacing="0" cellpadding="10" border="0">
                            <tbody>
                                <tr>
                                    <td width="50%" align="center"><img src="/Images/3/slideimgs/case0.png" width="300" height="225"></td>
                                    <td width="50%" align="center">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


                <div style="padding-bottom:20px">
                    <h3><p><strong>Case Studies: </strong>                          </p></h3>
                    <ul type="disc">
                        <ul type="circle">
                            <li>The summary slide pictured       below will appear numerous times (Slide: 24, 35, 46, 53 and 63)</li>
                            <li>
                                You can navigate to the specific section by clicking on the preferred subject when you are in pptx. “show” mode


                            </li>
                        </ul>
                    </ul>
                    <div class="col-sm-12" style="padding-bottom:40px">
                        <table width="80%" cellspacing="0" cellpadding="10" border="0">
                            <tbody>
                                <tr>
                                    <td width="50%" align="center"><img src="/Images/3/slideimgs/case0-1.png" width="300" height="225"></td>
                                    <td width="50%" align="center">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>



                <div>
                    <h3><p><strong>Case Study 1: Slides 24-34</strong>                                                    </p></h3>


                    <div class="col-sm-12" style="padding-bottom:40px">
                        <table width="80%" cellspacing="0" cellpadding="10" border="0">
                            <tbody>
                                <tr>
                                    <td width="50%" align="center"><img src="/Images/3/slideimgs/case1.png" width="300" height="225"></td>
                                    <td width="50%" align="center">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>



                <div>
                    <h3><p><strong>Case Study 2: Slides 35-45</strong>                          </p></h3>

                    <div class="col-sm-12" style="padding-bottom:40px">
                        <table width="80%" cellspacing="0" cellpadding="10" border="0">
                            <tbody>
                                <tr>
                                    <td width="50%" align="center"><img src="/Images/3/slideimgs/case2.png" width="300" height="225"></td>
                                    <td width="50%" align="center">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div>
                    <h3><p><strong>Case Study 3: Slides 46-52</strong>                          </p></h3>

                    <div class="col-sm-12" style="padding-bottom:40px">
                        <table width="80%" cellspacing="0" cellpadding="10" border="0">
                            <tbody>
                                <tr>
                                    <td width="50%" align="center"><img src="/Images/3/slideimgs/case3.png" width="300" height="225"></td>
                                    <td width="50%" align="center">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>





            </div>
            <h3>
                <p><strong>Case Study 4: Slides 53-62</strong></p>
            </h3>
            <div class="col-sm-12" style="padding-bottom:40px">
                <table width="80%" cellspacing="0" cellpadding="10" border="0">
                    <tbody>
                        <tr>
                            <td width="50%" align="center"><img src="/Images/3/slideimgs/case4.png" width="300" height="225"></td>
                            <td width="50%" align="center">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>

                <h3>
                    <br>
                    Case Study 5: Slides 63-75
                </h3>
                <table width="80%" cellspacing="0" cellpadding="10" border="0">
                    <tbody>
                        <tr>
                            <td width="50%" align="center"><img src="/Images/3/slideimgs/case5.png" width="300" height="225"></td>
                            <td width="50%" align="center">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <!-- <div class="2 margin-top-24">
            <h3>Program Description</h3>
            <div style="border: 3px solid #fff; height: 100px; width: 95%"></div>
        </div>-->
            <!--<div class="3 margin-top-24">
            <div style="border: 3px solid #fff; width: 95%">
                <table style="width: 100%">
                    <tr>
                        <td style="background: #333; color: #fff; padding: 2px 0px 2px 5px">PROVINCE</td>
                        <td style="width: 220px; background: #24c878; color: #fff; padding: 2px 0px 2px 5px">ACTIVE</td>
                        <td style="width: 220px; background: #3d7f9c; color: #fff; padding: 2px 0px 2px 5px">COMPLETED</td>
                        <td style="width: 220px; background: #e60c41; color: #fff; padding: 2px 0px 2px 5px">CANCELLED</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">BC</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">AB</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">SK</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">MB</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">ON</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">QC</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">NS</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">NB</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">NFLD</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">PEI</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                </table>
            </div>
        </div>-->


        </div>
    </div>

    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
</div>
