@using CPDPortalMVC.Models;
@using MoreLinq;
@model List<Program>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .card {
        height: 260px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <h1 id="lblTitle"></h1>
        <div onclick="window.history.back()" class="btn-back"><span class="glyphicon glyphicon-chevron-left"></span><span>Back</span></div>
        <!-- <div class="lead1" style="color: #534d4d">CFPC &nbsp;&nbsp; FMOQ</div>-->
    </div>
</div>
<div class="row">
    @{
        Html.RenderPartial("_LeftNav", (ProgramRequestStatusCount)@ViewBag.ProgramRequestStatusCounts);
    }
    <div class="col-md-9" style="margin-bottom: 2px; color: #2b2b2b">
        <div class="1">
            <h1>Program Description</h1>
            <!-- <div class="link-blue"><a class="link-blue" href="javascript:void(0)">Download Process Document</a></div>-->
            <div class="margin-top-24">
                <h3>THE CLINICAL EXCHANGE: Expert Perspectives on Treating and Managing Patients at High Risk for Fracture</h3>
                <p></p><h3>
                    ABOUT:
                </h3>
                <ul>
                    <li>The Clinical Exchange: Expert Perspectives on Treating and Managing Patients at High Risk for Fracture is an interactive and evidence-based program developed by leading Canadian experts to address the importance of risk assessment, screening and management for all patients at high risk for fracture. This program aims to translate scientific and clinical evidence into practical steps and incorporates expert recommendations into practical strategies applicable to primary care practice.</li>
                </ul>
                <p></p><h3>
                    FORMAT:
                </h3>
                <ul>
                    <li>This program consists of a core didactic deck and 5 case-based modules.  Each module includes interactive case-based discussion.   </li>
                    <li>Please decide on the modules which will be presented prior to submitting the New Event Request Form</li>
                </ul>
                <p></p><h3>CERTIFICATION:</h3>
                <ul>
                    <li>This Group Learning activity has been certified for up to 6 MAINPRO+ one-credit-per-hour credits by the CFPC.  </li>
                    <li>The core deck and each case-based module has been developed to fit into a 60 minute presentation. Please reference the Process Manual for a detailed description of the program modules and the applicable credit hours.</li>
                </ul>
                <p></p><h3>
                    SPEAKERS:
                </h3>
                <ul>
                    <li>Program speakers will have access to the program materials once they confirm availability for at least one of regional event dates</li>
                    <li>A copy of their COI slides is available in their resource for download </li>
                    <li>Please reference the Process Manual for important information and requirements </li>
                    <li><strong>As per the CFPC guidelines for certified programs, speakers are required to use the presentation slides provided by the physician organization and are not permitted to make any changes to the program materials/slides.</strong></li>
                </ul>
                <h3>
                    PROGRAM MODULES:<br>
                    THE CLINICAL EXCHANGE: Expert Perspectives on Treating and Managing Patients
                    at High Risk for Fracture – Core Deck
                    <p></p>
                </h3>
                
                <ul>
                    <ul>
                        <li>1 Mainpro+ Credit (60 minutes)</li>
                        <li>Number of Slides: 74 (including intro slides) </li>
                        <li>Content Synopsis:</li>
                        <ul>
                            <li>Global &amp; Canadian Perspectives in Osteoporosis Management </li>
                            <li>Risk Factor Assessment </li>
                            <li>&nbsp;Co-Morbidities </li>
                            <li>Guideline Recommendations </li>
                            <li>Review of Clinical Trials </li>
                            <li>Treatment &amp; Management Strategies – patient specific characteristics </li>
                            <li>Combines the KEY learnings from the case-based slide-deck</li>
                        </ul>
                    </ul>
               </ul>
            </div>
            <p>Case-Based Modules: </p>
            <ul>
                <li><strong>Introductory Slides (1-22) should be presented prior to the case</strong></li>
                <ul>
                    <li>Each case-based module is accredited for 1 Mainpro+ Credit (60 minutes) with the inclusion of the introductory slides</li>
                </ul>
            </ul>


            <div>
                <h3>
                    Case 1: Risk Assessment and Management of Treatment Naïve PMO Patients<br>
                </h3>

                <div class="col-sm-12" style="padding-bottom:40px">
                    <table width="80%" cellspacing="0" cellpadding="10" border="0">
                        <tbody>
                            <tr>
                                <td width="50%" align="left"><img src="/Images/slideimgs/1-b.png" width="300" height="225"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div style="padding-bottom:20px">
                <h3>
                    <p>
                        Case 2: Risk Assessment &amp; Management of Male OP Patients
                    </p>
                </h3>


                <div class="col-sm-12" style="padding-bottom:40px">
                    <table width="80%" cellspacing="0" cellpadding="10" border="0">
                        <tbody>
                            <tr>
                                <td width="50%" align="center"><img src="/Images/slideimgs/2-b.png" width="300" height="225"></td>
                                <td width="50%" align="center">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div>
                <h3>
                    <p>
                        Case 3: Medications and Comorbidities Associated with Bone Loss
                    </p>
                </h3>


                <div class="col-sm-12" style="padding-bottom:40px">
                    <table width="80%" cellspacing="0" cellpadding="10" border="0">
                        <tbody>
                            <tr>
                                <td width="50%" align="center"><img src="/Images/slideimgs/3-b.png" width="300" height="225"></td>
                                <td width="50%" align="center">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div>
                <h3>
                    <p>
                        Case 4: Benefits of Treatment Persistence and Adherence
                    </p>
                </h3>

                <div class="col-sm-12" style="padding-bottom:40px">
                    <table width="80%" cellspacing="0" cellpadding="10" border="0">
                        <tbody>
                            <tr>
                                <td width="50%" align="center"><img src="/Images/slideimgs/4-b.png" width="300" height="225"></td>
                                <td width="50%" align="center">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div>
                <h3>
                    <p>
                        Case 5: Optimization of Long-Term Therapy
                    </p>
                </h3>

                <div class="col-sm-12" style="padding-bottom:40px">
                    <table width="80%" cellspacing="0" cellpadding="10" border="0">
                        <tbody>
                            <tr>
                                <td width="50%" align="center"><img src="/Images/slideimgs/5-b.png" width="300" height="225"></td>
                                <td width="50%" align="center">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>



        </div>




        <!-- <div class="2 margin-top-24">
            <h3>Program Description</h3>
            <div style="border: 3px solid #fff; height: 100px; width: 95%"></div>
        </div>-->
        <!--<div class="3 margin-top-24">
            <div style="border: 3px solid #fff; width: 95%">
                <table style="width: 100%">
                    <tr>
                        <td style="background: #333; color: #fff; padding: 2px 0px 2px 5px">PROVINCE</td>
                        <td style="width: 220px; background: #24c878; color: #fff; padding: 2px 0px 2px 5px">ACTIVE</td>
                        <td style="width: 220px; background: #3d7f9c; color: #fff; padding: 2px 0px 2px 5px">COMPLETED</td>
                        <td style="width: 220px; background: #e60c41; color: #fff; padding: 2px 0px 2px 5px">CANCELLED</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">BC</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">AB</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">SK</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">MB</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">ON</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">QC</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">NS</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">NB</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">NFLD</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">PEI</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                </table>
            </div>
        </div>-->


    </div>
</div>
<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>


