<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CPDPortalEntities" connectionString="metadata=res://*/CPDPortalDB.csdl|res://*/CPDPortalDB.ssdl|res://*/CPDPortalDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=chrCWEBDEV2\CHRC_TEST;initial catalog=CPDPortal;user id=sa;password=df96e1p!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>