@using CPDPortalSpeaker.Models
@using CPDPortalSpeaker.Util
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pnl-portal">
    <div class="row">
        <div class="col-md-12">
            <h1 id="lblTitle"></h1>
            <!--div class="btn-back"><span class="glyphicon glyphicon-chevron-left"></span><span>Back</span></!--div-->
            <!-- <div class="lead1" style="color: #534d4d">CFPC &nbsp;&nbsp; FMOQ</div>-->
        </div>
    </div>

    <div class="row">

        @{

            Html.RenderPartial("_LeftNav", UserHelper.GetLoggedInUser());
        }
        <div class="col-md-9" style="margin-bottom: 2px; color: #2b2b2b">
          @Html.Raw(@Resources.Resource.ProgramDescription8)

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
</div>
