@using CPDPortalSpeaker.Models
@using CPDPortalSpeaker.Util
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pnl-portal">
    <div class="row">
        <div class="col-md-12">
            <h1 id="lblTitle"></h1>
            <!--div class="btn-back"><span class="glyphicon glyphicon-chevron-left"></span><span>Back</span></!--div-->
            <!-- <div class="lead1" style="color: #534d4d">CFPC &nbsp;&nbsp; FMOQ</div>-->
        </div>
    </div>

    <div class="row">

        @{

            Html.RenderPartial("_LeftNav", UserHelper.GetLoggedInUser());
        }
        <div class="col-md-9" style="margin-bottom: 2px; color: #2b2b2b">
            <div class="1">
                <h1>SCIENTIFIC PLANNING COMMITTEE </h1>
                <!-- <div class="link-blue"><a class="link-blue" href="javascript:void(0)">Download Process Document</a></div>-->
                <div class="row" style="margin-left:0px; padding-top:15px; padding-bottom:20px">
                    <div class="col-sm-4">
                        <img class="img-responsive" src="~/Images/3/photos/habert.png" width="190" height="190"><br>
                        <h5><strong>Jeffrey Habert, MD</strong></h5>
                        <h6>
                            Assistant Professor, University of Toronto,
                            <br>
                            Dept. of Family and Community Medicine<br>
                            Investigating Coroner Toronto
                            <br>
                            CPSO Peer Assessor<br>
                            Member of 2016 Canadian Stroke Prevention Guidelines<br>
                            Co-Chair Thrombosis Canada Clinical Guides<br>
                        </h6>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-responsive" src="~/Images/3/photos/adachi.png" width="190" height="190"><br>
                        <h5>
                            <strong>Jonathan Adachi, BSc, MD, FRCP(C)</strong>
                        </h5>
                        <h6>
                            Professor of Medicine
                            <br>
                            Department of Medicine
                            <br>
                            McMaster University
                        </h6>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-responsive" src="~/Images/3/photos/belanger.png" width="190" height="190"><br>
                        <h5><strong>André Bélanger, MD, CFPC</strong></h5>
                        <h6>
                            Clinique medicale Valcartier
                            <br>
                            Clinique antidouleur de HD de Lévis <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left:0px; padding-top:15px; padding-bottom:20px">


                <div class="col-sm-4">
                    <strong><img class="img-responsive" src="~/Images/3/photos/brown.png" width="190" height="190"><br></strong>
                    <h5><strong>Vivian Brown, MDCM, CCFP, FCFP, NCMP </strong></h5>
                    <h6>
                        Assistant Professor
                        <br>
                        Department of Family and Community Medicine<br>
                        University of Toronto
                    </h6>
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive" src="~/Images/3/photos/jovaisas.png" width="190" height="190"><br>
                    <h5><strong>Algis Jovaisas MD FRCPC</strong></h5>
                    <h6>
                        Rheumatologist
                        <br>
                        Capital North Therapeutics Research Inc
                        <br>
                        President/Medical Director<br>
                        Medical Lead Fracture Liason Service Ottawa
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
</div>

